<%- include("../partials/header") %> 

<div class="container station-main">
    <div class="loader"> </div>
    <div class="jumbotron jumbotron-flightstatus">
        <p>A one click service to track your selected inbound flights' status for a better decision making</p>
        <p class="text-muted"> To update your selected inbound flights, click the station admin button</p>
      </div>

    <div class="row">
        <div class="col-md-6">
                <a href="/flightstatus" id="flightstatus" class="station-main-btn btn btn-lg  btn-block">Flight Status</a>
        </div>
        <div class="col-md-6">
                <a href="/stationadmin" class="station-main-btn btn btn-lg  btn-block">Station Admin </a>
        </div>
    </div>

</div>

<script>

document.getElementById("flightstatus").addEventListener("click",()=>{
    document.querySelector(".jumbotron-flightstatus").style.opacity  = "0.3"
    document.querySelector(".loader").style.display = "block"
})


</script>

<%- include("../partials/footer") %> 